.keyboard-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard-row {
  display: flex;
}

.key {
  padding: 10px;
  margin: 3px;
  background: #f0f0f0;
  border-radius: 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.key.red {
  background: #ff9e9d;
}

.key.yellow {
  background: #fffb99;
}

.key.green {
  background: #95fd98;
}

.key.blue {
  background: #90f0e9;
}

.key.purple {
  background: #f999ff;
}

/* Backspace */
.key[data-key="8"] {
  width: 97px;
}

/* Tab 
   \|
*/
.key[data-key="9"],
.key[data-key="220"] {
  width: 68px;
}

/* Caps Lock */
.key[data-key="20"] {
  width: 84px;
}

/* Enter */
.key[data-key="13"] {
  width: 98px;
}

/* Shift */
.key[data-key="16"],
.key[data-key="616"] {
  width: 114px;
}

/* lower keys */
.key[data-key="17"] {
  width: 55px;
}

/* Space */
.key[data-key="32"] {
  width: 268px;
}
